<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhisperRoom - Sign Up</title>
    <link rel="stylesheet" href="/css/sign-up.css" />
    <link rel="stylesheet" href="/css/errors.css" />
  </head>
  <body>
    <div class="container">
      <div class="signup-header">
        <h1>Please Sign Up</h1>
      </div>

      <% if (locals.errors && errors.length > 0) { %>
      <div class="errors"><%- include("./errors.ejs") %></div>
      <% } %>

      <form action="/sign-up" method="POST">
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input
            placeholder="Fathy"
            type="text"
            name="firstName"
            id="first-name"
          />
        </div>
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input
            placeholder="Sameh"
            type="text"
            name="lastName"
            id="last-name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            placeholder="fathysameh@mail.com"
            type="email"
            name="email"
            id="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
